#board{
	width: 710px;
	height: 625px;
	margin: 0px;
	background-color: grey;
	border-radius: 10px;
	border: 5px solid black;
}
img{
  width: 50px;
  height: 50px;
}
.blue{
  display: inline-block;
  /* background-color: blue; */
  background-image: url(../images/Blue-Ball.png);
  width: 50px;
  height: 50px;
}

.empty{
  background-image: rgba(0, 0, 0, 0);
} 

.green{
  display: inline-block;
  background-image: url(../images/green-ball.png);
  width: 50px;
  height: 50px;
}

.clear{
  display: inline-block;
  background-color: grey;
  width: 50px;
  height: 50px;
}
.instructions{

}
